--query '@api.text != "private"'
--embed-mixins
-o doc
-r README.md
--files CHANGELOG.md
--markup-provider=redcarpet
--markup=markdown
--plugin junk
core/lib/**/*.rb
changeset/lib/**/*.rb
mapper/lib/**/*.rb
repository/lib/**/*.rb
