version: '2'
services:
  db:
    image: postgres:latest
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: rom
      POSTGRES_HOST_AUTH_METHOD: trust

  app:
    build: .
    command: ./docker_start.sh
    environment:
      BASE_DB_URI: postgres@db/rom_repository
    volumes:
      - .:/opt/rom
      - bundle_box:/opt/bundle_box
    links:
      - db

volumes:
  bundle_box:

